<div class="jumbotron">
 <h2> The easiest way to Buy or <%= link_to "Sell", new_user_registration_path %> iPhones in Ireland</h2>
</div>

<div class ="center">
  <%= link_to "6", new_user_registration_path, class: "btn btn-primary", data: { no_turbolink: true} %>
 </div>

 <div class ="center">
  <%= link_to "5", new_user_registration_path, class: "btn btn-primary", data: { no_turbolink: true} %>
 </div>
 
<div class="center">
  <div class="row">
    <% @listings.each do |listing| %>
      <div class="col-md-3">
        <div class="thumbnail">
          <%= link_to image_tag(listing.image.url), listing %>
          <div class="caption">
            <h3><%= listing.name %></h3>
            <p><%= number_to_currency(listing.price) %></p>
            <p><%= "Sold by #{listing.user.name}" %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>    

<br>

<% if user_signed_in? %>
  <%= link_to 'New Listing', new_listing_path, class: "btn btn-primary", data: { no_turbolink: true} %>
<% end %>